section {

  margin: 10px;
  padding: 10px;
}

.filters,
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

article {
  border: 1px solid #ebebeb;
  margin: 10px;
  padding: 10px;
}
article.active {
  border-color: #3498ff;
  background-color: #ebebeb;
}